/*
 * 1. 10px = 1em = 100% = 8pt
 * 2. 防止 iOS 横屏字号放大，同时保证在PC上 zoom 功能正常
 */
html {
  font-size: 62.5%; /* 1 */
  -ms-text-size-adjust: 100%; /*2*/
  -webkit-text-size-adjust: 100%; /*2*/
  -moz-text-size-adjust: 100%;
       text-size-adjust: 100%;/*2*/
  
}
/*
 * 1. dt 默认没边距
 * 2. li 默认没边距
 * 3. code 默认没边距
 * 4. th,td 默认padding:1px
 */
body, dl, dd, ul, ol, h1, h2, h3, h4, h5, h6, pre, form, fieldset, legend, input, textarea, optgroup, p, blockquote, figure, hr, menu, dir, thead, tbody, tfoot, th, td /*4*/
{
    margin:0;
    padding:0;
}
/*
 *  定义全局字体
 */
body, input, select, button, textarea /*2*/
{
    font:14px/1.5 "나눔고딕", NanumGothic, "맑은 고딕", malgungothic, "굴림", Gulim, Verdana, Arial, Helvetica, AppleGothic, sans-serif,\5b8b\4f53;
}

/*
 * 1.去掉a标签下划线
 * 2.去掉 IE 10+ 点击链接时的灰色背景
 */
a {
    text-decoration: none;/*1*/
}
a:hover {
    text-decoration: none;/*1*/
}
a:active {
    background-color: transparent; /*2*/
}
/**
 * 去掉列表前的标识, li会继承
 */
ul, ol {
    list-style-type: none;
    list-style-image: none;
}
/*
 * 移除默认边框
 */
img, iframe{
    border: 0;
}
/*
 * 移除表格单元格间距让其边重合 
 */
table{
  border-collapse: collapse;
  border-spacing: 0;
}
/*
 * 修复th不继承text-align，默认左对齐
 */
caption, th {
  text-align: left;
}
/*
 * 斜体扶正
 */
address, cite, dfn, em, var, i{
    font-style: normal;
}
/*
 * 统一上标和下标 
 */
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
/*---------------------------------------------form------------------------------------------------*/
/*
 * 定义各浏览器显示一致的样式
 */
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. 修正所有浏览器中字体不继承的问题
 * 2. 修正所有浏览器中字号不继承的问题
 * 3. 修正 Firefox 3+， Safari5 和 Chrome 中外边距不同的问题
 * 4. 改善在所有浏览器下的垂直对齐方式
 */
button, input, select, textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 2 */
    margin: 0; /* 3 */
    vertical-align: baseline; /* 4 */
    *vertical-align: middle; /* 4 */
}
/**
 * 统一 IE 8/9/10/11 `overflow`属性为visible
 */
input, button {
    *overflow: visible;
}
/**
 * 重置按钮禁用时光标样式
 */
button[disabled], input[disabled] {
    cursor: default;
}
/**
 * 1. 修正 Safari 5 和 Chrome 中「appearance」被设置为「searchfield」的问题
 * 2. 修正 Safari 5 和 Chrome 中「box-sizing」被设置为 「border-box」的问题
 */
input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}
/*
 * 去除FF3+内补丁和内边框
 */
button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
/**
 * 修正 Chrome 中 input [type="number"] 在特定高度和 font-size 时,
 * 下面一个箭头光标变成「cursor: text」
*/
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}
/*
 * 1. 让FF,S5,Chrome下的textarea只能纵向拉伸高度, 避免因拉伸而影响布局
 * 2. 去掉IE下默认的滚动条占位
 * 3. 默认textarea与文本baseline对齐，导致文本沉在下面比较难看，这里统一与文本顶对齐
 */
textarea {
    resize: vertical; /*1*/
    overflow: auto; /*2*/
    vertical-align: top; /*3*/
}
/**
 * 修正 Chrome 30- option 中文字无法显示的问题
 */
select:disabled option:checked, option:disabled:checked {
    color: #D2D2D2;
}
/**
 * label 元素给予手型，暗示此处可点击
 */
label {
    cursor: pointer;
}
/**
 * 统一 select 样式, Firefox 中有 padding:1px 0
 */
select[size], select[multiple], select[size][multiple] {
    border: 1px solid #AAA;
    padding:0;
}