@import '../common/normalize.css';
@import '../common/variables.css';
@import '../common/container.css';
@import '../common/search.css';
@import '../common/table.css';
@import './pagination.css';
table {
    & th {
        text-align: center;
    }
    & table {
        & tr {
            & td:first-child {
                width: 35%;
            }
        }
    }
    & .text_center {
        text-align: center;
    }
}
